{% extends 'base.html.twig' %}

{% block title %} Cooking - Connexion {% endblock %}

{% block body %}
    <h2>Connexion</h2>
    <br>
    <form action="{{ path('connexion') }}" method="post">
        <div class="row">
            <div class="form-group col-xs-4">
                <label class="control-label" for="login">Identifiant</label>
                <input class="form-control" id="username" name="_username" {#value="{{ username }}"#}>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-4">
                <label class="control-label" for="password">Mot de passe</label>
                <input class="form-control" type="password" id="password" name="_password">
            </div>
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Connexion</button>
    </form>
    <br>
    <a href="{{ path('index') }}">> Retour à l'accueil</a>
    <br>
{% endblock %}