{% extends 'base.html.twig' %}

{% block title %} {{ recipe.titre }} {% endblock %}
{% block body %}
    <h2>{{ recipe.titre }}</h2><br>

    <br>
    <img src="{{ asset('img/photos/recettes/' ~ recipe.img) }}" class="img-fluid rounded mx-auto d-block"
         alt="{{ recipe.titre }}"
         id="photoRecette">
    <br>
    <br><br>
    <div class="row">
        <div class="col-sm-4" id="ingredients">
            <h4>Ingredients</h4>
            <hr>
            <ul id="recettesInfos">
                <li><img src="{{ asset('img/images/temps.png') }}" alt="temps"> Temps de préparation
                    : {{ recipe.tempsPreparation }} minutes
                </li>
                <li><img src="{{ asset('img/images/cuisson.png') }}" alt="cuisson"> Temps de cuisson
                    : {{ recipe.tempsCuisson }} minutes
                </li>
                <li><img src="{{ asset('img/images/fourchette.png') }}" alt="fourchette"> Pour
                    {{ recipe.parts }} personnes
                </li>
                <li><img src="{{ asset('img/images/prix.png') }}" alt="prix"> Coût : {{ recipe.prix }}</li>
                <li>Difficulté : {{ recipe.difficulte }}</li>
            </ul>
            <hr>
            <ul>
                {{ recipe.ingredient }}
            </ul>
        </div>
        <div class="col-sm-7" id="details">
            <h4>Préparation</h4>
            <hr>
            <div id="preparation">
                <pre> {{ recipe.preparation }} </pre>
            </div>
        </div>
    </div>
    <div id="accueil"><a href="{{ path('index') }}">> Retour à l'accueil</a></div>
    <br>
{% endblock %}