<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Cooking{% endblock %}</title>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    {% endblock %}
    <meta name="keywords" content="cooking, cuisine, recettes, repas, gastronomie, minceur, diet, miam miam">
    <meta name="description"
          content="Le site Cooking regroupe pléthore de recettes des plus variées, customisé par des recettes d'internautes">
    <meta name="author" content="Gollain Dupont Ludivine">
</head>

{% block header %}{% endblock %}
{% include('default/_header.html.twig') %}

{% block menu %}{% endblock %}
{% include('default/_menu.html.twig') %}}
{% include('default/_flash.html.twig') %}

<body>
<div class="container" id="mainBod">
    {% block body %}{% endblock %}
</div>
{% block footer %}{% endblock %}
{% include('default/_footer.html.twig') %}
</body>
</html>