{% for type,messages in app.session.flashBag.all() %}
<div class="alert alert-{{ type }}">
    {% for message in messages %}
    {{ message }}
    {{ not loop.last ? '<br>' }}
    {% endfor %}
</div>
{% endfor %}