{% block footer %}
    <footer class="container-fluid">
        <div class="row">
            <div class="col-sm links">
                <a href="#">Qui sommes-nous ?</a>
            </div>
            <div class="col-sm links">
                <a href="#">Nous contacter</a>
            </div>
            <div class="col-sm links">
                <a href="#">Newsletter</a>
            </div>
            <div class="col-sm links">
                <a href="#">Mentions légales</a>
            </div>
            <div class="col-sm">
                <h4>Retrouvez-nous ici :</h4>
                <a href="#">
                    <img src="{{ asset('img/images/facebook.png') }}" alt="Facebook page">
                </a>
                <a href="#">
                    <img src="{{ asset('img/images/twitter.png') }}" alt="Twitter account">
                </a>
                <a href="#">
                    <img src="{{ asset('img/images/google.png') }}" alt="Google+ account">
                </a>
                <a href="#">
                    <img src="{{ asset('img/images/youtube.png') }}" alt="Youtube account">
                </a>
            </div>
        </div>
    </footer>
{% endblock %}