{% block header %}
    <header class="container-fluid">
        <div class="row">
            <div class="col-sm-4 rounded text-center" id="hr1">
                <a href="{{ path('index') }}"><img src="{{ asset('img/images//logo-cooking.png') }}" alt="logo"
                                                   id="logo"></a>
                <h5 id="slogan">Miam miam, gloup gloup, laps laps</h5>
            </div>
            <div class="col-sm-4" id="search">
                <form class="form-inline my-2 my-lg-0" method="GET" action="{{ path('search') }}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search"
                           id="search2" name="search" data-max="20">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
                </form>
            </div>
            <div class="col-sm-4" id="identifiants">
                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path('connexion') }}">
                        <button class="btn btn-primary" type="button">Connexion</button>
                    </a>
                    <a href="{{ path('inscription') }}">
                        <button class="btn btn-outline-primary" type="button">Se
                            créer
                            un compte
                        </button>
                    </a>
                {% else %}
                    <a href="{{ path('profil') }}">
                        <button class="btn btn-outline-info">Mon
                            compte
                        </button>
                    </a>
                    <a href="{{ path('logout') }}">Déconnexion</a>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}