{% block menu %}
    <div id="menu">
        <ul class="nav justify-content-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recettes</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Par catégorie :</a>
                    <a class="dropdown-item" href="#">-> Fruits</a>
                    <a class="dropdown-item" href="search.php?option=viande">-> Viandes</a>
                    <a class="dropdown-item" href="search.php?option=legume">-> Légumes</a>
                    <a class="dropdown-item" href="search.php?option=poisson">-> Poissons</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="search.php?option=moins-cheres">Les - chères</a>
                    <a class="dropdown-item" href="search.php?option=plus-rapides">Les + rapides</a>
                    <a class="dropdown-item" href="search.php?option=plus-faciles">Les + faciles</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="search.php?option=plats">Plats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="search.php?option=desserts">Desserts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ asset('search/{{ minceur}}') }}">Minceur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Atelier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Déposer une recette</a>
            </li>
        </ul>
    </div>
{% endblock %}