{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {% for recette in recettes | reverse | slice(0,3) %}
                <div class='carousel-item'>
                    <a href=""><img class='d-block w-100'
                                    src="{{ asset('img/photos/recettes/' ~ recette.img) }}"
                                    alt="{{ recette.titre }}"></a>
                    <div class='carousel-caption d-none d-md-block'>
                        <p>{{ recette.titre }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br>

    <hr>

    <br>
    <h2 id="titreIndex">Recettes des internautes</h2><br>
    <div class="row" id="recettes">
        {% for recette in recettes | reverse | slice(0,3) %}
            <div class="col-12 col-md-6 col-lg-4 mt-3">
                <div class="card">
                    <a href="{{ path('recipe', {idRecette:recette.idRecette}) }}"><img
                                class='card-img-top img-fluid'
                                src="{{ asset('img/photos/recettes/' ~ recette.img) }}"
                                alt='Recette
                    proposée'></a>
                    <div class='card-body'>
                        <h5 class='card-title'>{{ recette.titre }}</h5>
                        <p class='card-text justify'>{{ recette.titre }}</p>
                    </div>
                    <div class='card-footer'>
                        <h5>Proposée par :</h5>
                        <img src="{#{ asset('img/photos/gravatars/' ~ recette.gravatar) }}#}" alt='membre'
                             class='img-thumbnail'
                        ><br><br>
                        <p><a href="" data-toggle="modal" data-target="#exampleModal">{#{ recette.prenom }}#}</a>
                        </p>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel"><?= $donneesCards['prenom'] ?></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>pouet1</p>
                                    </div>
                                    <div class="modal-footer">
                                        <p>pouet2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}