{% extends 'base.html.twig' %}

{% block title %} Inscription ! {% endblock %}
{% block body %}
    <br>
    <div class="container">
        <h2>Création de compte</h2><br>
        <hr>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-4"> {{ form_row(form.login) }} </div>
        </div>
        <div class="row">
            <div class="col-xs-4"> {{ form_row(form.nom) }} </div>
        </div>
        <div class="row">
            <div class="col-xs-4"> {{ form_row(form.prenom) }} </div>
        </div>
        <div class="row">
            <div class="col-xs-4"> {{ form_row(form.rawPassword) }} </div>
        </div>
        <div class="row">
            <div class="col-xs-4"> {{ form_row(form.mail) }} </div>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
        <br>
    </div>
    <br>
    <a href="{{ path('index') }}">> Retour à l'accueil</a>
    <br>
{% endblock %}
