{% extends 'base.html.twig' %}

{% block title %} Ma page de profil {% endblock %}
{% block body %}
    <br>
    <h2>Mon profil</h2><br>
    <p>
        N'hésitez pas à modifier vos informations personnelles si celles-ci ont changé.
    </p>
    <br>
    <div class="row" id="cadreProfil">
        <div class="col-sm-8" id="profilInfos">
            <br>
            <fieldset>
                <form method="POST" action="#">
                    <div class="row">
                        <div class="col-sm text-right">
                            <p>Pseudo :</p>
                        </div>
                        <div class="col-sm float-left">
                            <p><input type="text" class="form-control" name="login" value="{{ user.login }}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm text-right">
                            <p>Nom :</p>
                        </div>
                        <div class="col-sm float-left">
                            <p><input type="text" class="form-control" name="nom" value="{{ user.nom }}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm text-right">
                            <p>Prenom :</p>
                        </div>
                        <div class="col-sm float-left">
                            <p><input type="text" class="form-control" name="prenom" value="{{ user.prenom }}">
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm text-right">
                            <p>Adresse e-mail :</p>
                        </div>
                        <div class="col-sm float-left">
                            <p><input type="mail" class="form-control" name="mail" value="{{ user.mail }}"></p>
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Modifier les infos" style="float:right;">
                </form>
            </fieldset>
            <br>
            <input type="checkbox" name="newsletter" value="newsletter"> S'inscrire à la newsletter
            <br><br>

            <br>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteprofile">Suppression du
                compte
            </button>
            <div class="modal fade" id="deleteprofile" tabindex="-1" role="dialog" aria-labelledby="deleteprofileLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteprofileLabel">Suppression du compte</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Êtes-vous bien sûr.e de vouloir supprimer votre compte ? Cela supprimera aussi (.....ou
                                pas, à voir) vos recettes partagées.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <a href="#">
                                <button type="button" class="btn btn-primary">Supprimer
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <hr>
            <br>
            <h3>Mes recettes proposées :</h3>
            <br>
            <p> -> Vous ne nous avez pas encore proposé de recettes ! <a href="#">Commencez dès
                    aujourd'hui °w° !</a></p>
        </div>

        <div class="modal fade" id="deleterecipe" tabindex="-1" role="dialog" aria-labelledby="deleterecipeLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleterecipe">Suppression de recette</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Êtes-vous bien sûr.e de vouloir supprimer votre recette ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary"
                                onclick="javascript:location.href='post/delete-recipe.php?delete=<?= $rs['idRecette'] ?>'">
                            Supprimer
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-1 col-md-offset-1"></div>
        <div class="col-sm" id="profilDetails">
            <h3>Photo de profil</h3>
            <br>
            <div>
                <img src="{{ asset('img/photos/gravatars/' ~ user.gravatar) }}" id="avatar">
            </div>
            <br>
            <a href='#'>Ajouter un avatar</a>
            <br><br>
            <hr>
            <p>
                Mes sites :
            </p>
            <div class="row">
                <div class="col">
                    <p><a href="#"><img src="images/facebook.png" alt="Facebook page"></a></p>
                    <input type="text">
                </div>
                <br><br>
                <div class="col">
                    <p><a href="#"><img src="images/twitter.png" alt="Twitter account"></a></p>
                    <input type="text">
                </div>
                <div class="col">
                    <p><a href="#"><img src="images/google.png" alt="Google+ account"></a></p>
                    <input type="text">
                </div>
                <div class="col">
                    <p><a href="#"><img src="images/youtube.png" alt="Google+ account"></a></p>
                    <input type="text"><br>
                </div>
                <br><br>
                <div class="col">
                    <input type="submit"><br><br>
                </div>
            </div>
        </div>
    </div>
    <br>
    <a href="{{ path('index') }}">> Retour à l'accueil</a>
    <br>

{% endblock %}