@viewport {
    zoom: 1.0;
    width: device-width;
}

/*Small devices (phones)*/
@media (min-width: 479px) {

}

/*Medium devices (tablets)*/
@media (min-width: 959px) {

}

/*Large devices (desktops)*/
@media (min-width: 1280px) {

}


/* ------ Header ----- */
header {
    padding-top: 1em;
    background: rgb(219, 247, 255);
    background: linear-gradient(0deg, rgba(219, 247, 255, 1) 0%, rgba(245, 253, 255, 1) 100%);
}

#slogan {
    padding-bottom: 2%;
    font-weight: bold;
}

#search, #identifiants {
    margin-top: 1%;
}

#search {
    padding-left: 5%;
}

#search2 {
    width: 70%;
}

#identifiants {
    padding-left: 15%;
}


/* ------ Menu header ----- */

#menu {
    background: rgb(219, 247, 255);
    background: radial-gradient(circle, rgba(219, 247, 255, 1) 0%, rgba(245, 253, 255, 1) 100%);
}

.nav-item {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

/* ------ body ----- */
#mainBod {
    background-color: #f5feff;
    padding-bottom: 1%;
}

body {
    background: rgb(219, 247, 255);
    background: linear-gradient(0deg, rgba(219, 247, 255, 1) 0%, rgba(245, 253, 255, 1) 100%);
}


/* ------ Page index ----- */
.carousel {
    border-style: ridge;
    padding: 1.5%;
    width: 100%;
    height: 100%;
    box-shadow: 5px 10px 18px #888888;
}

#titreIndex {
    text-decoration-line: underline;
}

#recettes {
    padding: 2%;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

#blueBorder {
    border-top-color: lightblue;
    border-bottom-color: lightblue;
    border-width: 5px;
}

#greenBorder {
    border-top-color: lightgreen;
    border-bottom-color: lightgreen;
    border-width: 5px;
}

#fushiaBorder {
    border-top-color: pink;
    border-bottom-color: pink;
    border-width: 5px;
}

/* ------ recette-details ----- */
h2 {
    text-decoration: underline;
}

#recettesInfos {
    list-style-type: none;
}

#photoRecette {
    border-style: ridge;
    border-width: 5px;
    padding: 1.5%;
    width: 100%;
    height: 100%;
    box-shadow: 5px 10px 18px #888888;
}

#ingredients, #profil, #profilDetails {
    border-style: solid;
    border-color: #afe5eb;
}

#ingredients {
    margin-left: 1.5%;
}

#details {
    margin-left: 5%;
    padding-right: 5%;
    border-style: solid;
    border-color: #afe5eb;
}

#preparation {
    padding-left: 3%;
}

#preparation li {
    list-style-type: none;
}

pre {
    white-space: pre-wrap;
    text-align: justify;
}


/* ------ membre-detail ----- */
#cadreProfil {
    padding-left: 2%;
    padding-right: 2%;
}

#profilInfos, #profilDetails {
    border-style: solid;
    border-color: #afe5eb;
    padding-left: 3%;
    border-radius: 25px;
}

#profilInfos {
    padding-right: 5%;
}

#gravatar {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ------ various ----- */
.errorFrame {
    border: solid 2px red;
}

.error_msg {
    color: red;
}

.valid_msg {
    color: green;
}

#accueil {
    padding-top: 5%;
}

.fit {
    width: 23%;
}


/* ------ Footer ----- */
footer {
    background: rgb(219, 247, 255);
    background: radial-gradient(circle, rgba(245, 253, 255, 1) 0%, rgba(219, 247, 255, 1) 100%);
    padding-bottom: 1%;
    text-align: center;
}

.links {
    padding-top: 1.5%;
}